body  {
    background-color: lightgrey;
    color: white;
    font-family: "Muli";
    min-height: 100vh;
    margin-top: 0;
  }

.chat-room-sidebar  {
    margin-top; 0;
    background-color: darkgrey;
    width: 30%;
    height: 900px;
    padding-top: 1em;
    border-right: 3.5px solid white;
    display: inline-block;

}

.chat-room-sidebar h2 {
    padding-left: .6em;
    padding-right: .6em;
    text-decoration: underline;
    color: deepskyblue;
    font-weight: bold;

}
.chat-room,
.new-room-button  {
    margin: 1em;
    padding-left: .4em;
    font-size: 1.1em;
    font-weight: bold;
}

.chat-room-list a  {
    color: white;
}

.chat-room-list a:active {
    color: white;
}

button  {
  color: darkgrey;
  box-shadow: 0 0 10px lightgrey;
}
.new-room-button  {
    margin-left: 1.1em;
    max-width: 170px;
}

.message-list-container {
    width: 70%;
    float: right;
    display: inline-block;
}

.room-name  {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: darkgrey;
}

.message  {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    color: white;
}

.odd-message  {
    background-color: skyblue;
}

.even-message   {
    background-color: deepskyblue;
}

@media (max-width: 440px) {
    body  {
        display: relative;
    }
    .chat-room-sidebar  {
        display: absolute;
        height: auto;
        width: 100%;
        border-bottom: 3.5px solid white;
        border-right: none;
    }
    .chat-room-sidebar h2 {
        display: block;
    }
    .chat-room  {
        padding-bottom: 1em;
    }
}
