body  {
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 0;
}

.chat-room-sidebar  {
    margin-top; 0;
    background-color: darkgrey;
    width: 30%;
    height: 700px;
    padding-top: 1em;
}

.chat-room-sidebar h1 {
    padding-left: .5em;
}
.chat-room  {
    margin: 1em;
    font-size: 1.25em;
    font-weight: bold;
}
