body  {
    background-color: lightgrey;
    color: white;
    font-family: "Muli";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 0;
}

.chat-room-sidebar  {
    margin-top; 0;
    background-color: darkgrey;
    width: 30%;
    height: 900px;
    padding-top: 1em;
    border-right: 2px solid white;
}

.chat-room-sidebar h2 {
    padding-left: .6em;
    border-bottom: 2px solid white;
}
.chat-room  {
    margin: 1em;
    font-size: 1.1em;
    font-weight: bold;
}
