<body ng-controller="HomeCtrl as home">
    <div class="chat-room-sidebar">
        <h2>BLOC CHAT</h2>
        <button type="button" class="new-room-button" ng-click="openModal()">New room</button>
        <div class="chat-room-list" ng-repeat="room in home.allRooms">
            <a href="" class="chat-room" ng-click="activateRoom(room)">{{ room.name }}</a>
        </div>
    </div>
    <div class="message-list-container">
        <div class="room-name">
            {{ home.currentRoom.name }}
        </div>
        <div class="message" ng-repeat="message in home.messages">
            <div class="message-content">
                {{ message.content }}
            </div>
        </div>
    </div>
</body>
